.search-result-container{
    padding: 5rem 0;
}
.containers{
    margin: 100px;
}

@media only screen and (max-width:480px) {
    .containers{
        margin: 50px;
    }

    h2{
        font-size: smaller;
        color: blue;
    }
    
}