.search-result-container {
  padding: 5rem 0;
}
.containers {
  margin: 100px;
}
h2 {
  color: blue;
}

@media only screen and (max-width: 680px) {
  .containers {
    margin: 50px;
  }

  h2 {
    font-size: smaller;
    color: blue;
  }
}
