.search-container{
    width: 50%;
    margin: auto;
    padding-top: 10%;
    
}

.search-container h2{
    text-align: center;
    padding-bottom: 1rem;
   
}
h2{
    font-size: xx-large;
}

@media only screen and (max-width:480px) {
    .search-container{
        width: 80%;
        padding-top: 30%;
        
    }
    
}